/* #region common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --drop-bg-light-color: #b4d0e6;
  --drop-bg-btn-color: #0061fe;
  --drop-lighter-color: white;
  --drop-dark-color: black;
  --drop-hr-color: rgba(211, 211, 211, 0.366);
  --drop-borders-color: rgba(140, 138, 138, 0.585);
  --drop-month-color: gray;
}

body {
  font-family: "Open Sans", sans-serif;
}

.debug {

  /* * {
    border: 1px dashed;
  } */

  /* header {
    background-color: lightgreen;
  } */

  main {

    /* #jumbotron {
      height: 500px;
      background-color: lightblue;

      .container-65 {
        height: 100%;
        background-color: yellow;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .col-4 {
        height: 350px;
        background-color: lightslategray;
      }

      .col-8 {
        height: 350px;
        background-color: lightslategray;
      }
    } */

    /* #business-plan {
      padding-top: 10rem;
      height: 1200px;
      background-color: lightblue;

      .container-50 {
        height: 100%;
        background-color: lightyellow;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .col-4 {
        height: 650px;
        background-color: lightslategray;
      }

      .col-12 {
        height: 250px;
        background-color: lightslategray;
      }
    } */

    /* #partner {
      height: 500px;
      background-color: lightblue;

      .container-50 {
        height: 100%;
        background-color: lightyellow;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .col-8 {
        height: 300px;
        background-color: lightslategray;
      }

      .col-4 {
        height: 300px;
        background-color: lightslategray;
      }
    } */

    /* #operations {
      height: 800px;
      background-color: lightblue;

      .container-50 {
        height: 100%;
        background-color: lightyellow;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .col-4 {
        height: 300px;
        background-color: lightslategray;
      }
    } */

    #clients {
      height: 300px;
      background-color: lightblue;

      .container-50 {
        height: 100%;
        background-color: lightyellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  footer {
    height: 300px;
    background-color: black;

    .container-65 {
      height: 100%;
      background-color: yellow;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .col {
      height: 200px;
      background-color: lightsalmon;
    }
  }
}

/* #endregion common */

/* #region utilities */

.d-flex {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.jc-sa {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.btn {
  background-color: var(--drop-bg-btn-color);
  color: var(--drop-lighter-color);
  text-decoration: none;
}

/* #endregion utilities */

/* #region layout */

.container-65 {
  width: 65%;
  margin: 0 auto;
}

.container-50 {
  width: 50%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

[class^="col"] {
  padding: 1rem;
}

.col {
  width: auto;
  flex-grow: 1;
}

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

/* #endregion layout */

/* #region header */

header {

  nav {
    height: 80px;
    padding: 0 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-nav,
    .right-nav {
      height: 100%;
      display: flex;
      align-items: center;

      ul {
        height: 100%;
        line-height: 80px;
        list-style: none;
        padding: 0 1rem;
      }

      li>a {
        text-decoration: none;
        padding: 0 1rem;
        color: var(--drop-dark-color);
      }

      .btn {
        padding: 0.5rem 1rem;
      }
    }
  }
}

/* #endregion header */

/* #region main */

#jumbotron {
  background-color: var(--drop-bg-light-color);

  .container-65 {

    h1 {
      padding: 5rem 0 2rem 0;
      font-size: 5rem;
      font-weight: 800;
    }

    .row {

      .col-4 {
        font-size: 1.05rem;
        line-height: 1.5rem;

        a.btn {
          display: inline-block;
          margin: 2rem 0;
          padding: 0.5rem 1.5rem;
        }

        i {
          color: var(--drop-dark-color);
          font-size: 3rem;
          padding-top: 4rem;
        }
      }

      .col-8 {

        img {
          width: 100%;
          margin-bottom: -8rem;
        }
      }
    }
  }


}

#business-plan {
  padding-bottom: 4rem;

  hr {
    margin: 8rem 0 3rem;
    border: none;
    border-bottom: 1px solid var(--drop-hr-color);
  }

  .container-50 {

    h2 {
      font-size: 2.4rem;
    }

    .select {
      padding: 3rem 0 2rem 0;

      .monthly {
        padding-right: 3rem;

        i {
          padding-right: 0.25rem;
          color: var(--drop-bg-btn-color);
        }
      }

      .annuary {

        i {
          padding-right: 0.25rem;
          color: lightgrey;
        }
      }
    }

    .card {
      height: 100%;
      border: 1px solid var(--drop-borders-color);

      div>i {
        padding-right: 0.5rem;
      }
    }

    .card-top {
      text-align: center;
      padding: 0.5rem 0;
    }

    .card-bottom {
      border-top: 1px solid var(--drop-borders-color);
      padding: 2rem 1.5rem 3rem;

      .user,
      .folder,
      .share,
      .btn,
      .border-div,
      .check,
      .enterprise {
        font-size: 0.88rem;
      }

      div>a {
        color: var(--drop-bg-btn-color);
      }

      h3 {
        font-size: 1.5rem;
      }

      h5 {
        padding: 1rem 0 0.5rem 0;
      }

      .month {
        color: var(--drop-month-color);
      }

      .user {
        padding-top: 3rem;
      }

      .folder {
        padding: 1rem 0;
      }

      .btn {
        text-align: center;
        padding: 0.5rem 1rem;
        margin-top: 2.5rem;

        a {
          text-decoration: none;
          color: var(--drop-lighter-color);
          font-weight: 100;
        }
      }

      .border-div {
        margin: 2rem 0;

        .border {
          padding: 2rem 0 2.5rem 0;
          border-bottom: 1px solid var(--drop-borders-color);
        }
      }

      h6 {
        font-size: 0.9rem;
        padding: 3rem 0 1.5rem 0;
      }

      .check {
        padding: 0.5rem 0;
      }

      i.fa-check {
        display: inline-block;
        color: var(--drop-bg-btn-color);
        font-size: 1rem;
      }


      .btn-12 {
        text-align: center;
        padding: 0.5rem 1rem;

        a {
          padding: 0.5rem 1.5rem;
          background-color: var(--drop-bg-btn-color);
          text-decoration: none;
          color: var(--drop-lighter-color);
          font-weight: 100;
        }
      }

      .enterprise {
        width: 70%;
        padding-top: 2.5rem;
      }
    }

    .col-12 div.card-bottom {
      padding-bottom: 2rem;
    }
  }
}

#partner {
  padding: 5rem 0;

  img {
    width: 100%;
  }

  .container-small {
    padding: 4rem 0 0 2rem;

    p {
      padding-top: 1.5rem;
      width: 87%;
    }

    a {
      display: inline-block;
      text-decoration: none;
      margin-top: 2rem;
      padding: 0.5rem 1rem;
      border: 1px solid;
      color: var(--drop-dark-color);
    }
  }
}

#operations {
  padding-top: 4rem;

  h2 {
    font-size: 2.4rem;
    padding-bottom: 3rem;
  }

  .card {
    padding: 0.5rem;
  }

  img {
    width: 100%;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.94rem;
    padding: 1.5rem 0;
  }
}

/* #endregion main */

/* #region footer */



/* #endregion footer */