/* #region common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --drop-bg-light-color: #b4d0e6;
  --drop-bg-btn-color: #0061fe;
}

.debug {

  * {
    border: 1px dashed;
  }

  header {
    background-color: lightgreen;
  }

  section {
    height: 500px;
    background-color: lightblue;
  }

}

/* #endregion common */

/* #region utilities */

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

/* #endregion utilities */

/* #region layout */



/* #endregion layout */

/* #region header */

header {

  nav {
    height: 80px;
    padding: 0 1.5rem;
  }
}

/* #endregion header */

/* #region main */



/* #endregion main */

/* #region footer */



/* #endregion footer */